{{!-- Index --}}
<header>
    <h1>
        {{title}}
        <img src="/images/icon-moon.svg">
        <img src="/images/icon-sun.svg">
    </h1>

    {{#if currentUser}}
        <img src="{{unbound currentUser.avatar}}">
        {{currentUser.name}}
    {{else}}
        <button class="Button Button--primary" {{action "login"}}>
            Login
        </button>
    {{/if}}

    <hr>
</header>

<ul class="GridContainer">
    {{#each days}}
        <li class="GridCol">
            <h2>{{date date}}</h2>
            <ul>
                {{#each duration in durations itemController="index/duration"}}
                    <li>
                        {{#with duration}}
                            <h4>
                                {{from}} — {{to}} {{type}}
                                <span class="text-warning">{{spotsLeft}}</span>
                            </h4>
                        {{/with}}

                        <ul>
                            {{#each seats itemController="index/person"}}
                                <li>{{person.name}}</li>
                            {{/each}}

                            {{#unless seats.length}}
                                <li class="text-muted">No is here yet</li>
                            {{/unless}}
                        </ul>

                        <a class="Button Button--link"
                            href="#"
                            {{action "new" duration}}>Reserve</a>
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>
