{{!-- Index --}}
<header class="Nav">
    <h1 class="Nav-brand">
        {{title}}
    </h1>

    <div class="Nav-action">
        {{#if currentUser}}
            <span class="align-right">
                <img src="{{unbound currentUser.avatar}}" class="User-avatar">
                {{!-- <span class="User-name">{{currentUser.name}}</span> --}}
            </span>
        {{else}}
            <button
                class="Button Button--primary Button--large align-right"
                {{action "login"}}>
                Login
            </button>
            {{!-- <li class="text-muted">You need to login first to be able to reserve your spot</li> --}}
        {{/if}}
    </div>
    {{!-- <hr> --}}
</header>

<ul class="GridContainer">
    {{#each days}}
        <li class="GridCol">
            <h2>{{date date}}</h2>
            <ul class="Duration">
                {{#each duration in durations itemController="index/duration"}}
                    <li class="Duration-item">
                        {{#with duration}}
                            <h4>
                                {{#if duration.isMorning}}
                                    <img src="/images/icon-sun.svg"
                                    class="DurationItem-icon">
                                {{else}}
                                    <img src="/images/icon-moon.svg"
                                    class="DurationItem-icon">
                                {{/if}}

                                {{from}} — {{to}} {{type}}
                                <span class="text-warning">{{spotsLeft}}</span>
                            </h4>
                        {{/with}}

                        <ul class="Users">
                            {{#each seats itemController="index/person"}}
                                <li>{{user.name}}</li>
                            {{/each}}

                            {{#unless seats.length}}
                                <li class="text-muted">No one is here yet</li>
                            {{/unless}}
                        </ul>

                        {{#if currentUser}}
                            <a class="Button Button--link"
                                href="#"
                                style="padding-left: 32px"
                                {{action "new" duration}}>Reserve</a>
                        {{/if}}
                    </li>
                {{/each}}
            </ul>
        </li>
    {{/each}}
</ul>
